node_modules/
dist/
dist-electron/
out/
docs/
*.log
.DS_Store
Thumbs.db
config.ini

# Whisper models (mantém apenas tiny)
bin/ggml-base*.bin
bin/ggml-small*.bin
bin/ggml-medium*.bin
bin/ggml-large*.bin
bin/whisper/*
!bin/whisper/ggml-tiny.bin
