node_modules/
dist/
dist-electron/
out/
docs/
*.log
.DS_Store
Thumbs.db
config.ini

# Binaries
bin/auto-editor.exe
bin/ffmpeg.exe
bin/ffplay.exe
bin/ffprobe.exe
whisper-cuda.zip

# Whisper models (mantém apenas tiny)
bin/ggml-base*.bin
bin/ggml-small*.bin
bin/ggml-medium*.bin
bin/ggml-large*.bin
bin/whisper/*
!bin/whisper/ggml-tiny.bin
